<!--
<div id="uno" class="card-group">
  <div class="card">
    <app-img [img]="proyect.urlImagen" ></app-img>
    <div class="card-body">
      <h5 class="card-title">{{proyect.titulo}}</h5>
      <p class="card-text">{{proyect.descripcion}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{proyect.ubicacion}}</small>
    </div>
  </div>
</div> -->

<!-- <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
  <div class="portfolio-content h-100">
    <app-img [img]="proyect.urlImagen" class="img-fluid"></app-img>
    <div class="portfolio-info">
      <h4>{{proyect.titulo}}</h4>
      <p>{{proyect.descripcion}}</p>
      <a href="assets/img/projects/remodeling-1.jpg" title="Remodeling 1" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
      <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
    </div>
  </div>
</div> -->

  <div class="portfolio-content h-100">
    <img src="assets/img/projects/remodeling-1.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
      <h4>Remodeling 1</h4>
      <p>Lorem ipsum, dolor sit amet consectetur</p>
      <a href="assets/img/projects/remodeling-1.jpg" title="Remodeling 1" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
      <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
    </div>
  </div>
