@{
    ViewData["Title"] = "Imagenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
<link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h3>Imagenes del proyecto: </h3>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Proyectos</a></li>
                        <li class="breadcrumb-item active">Imagenes</li>
                    </ol>
                    <!-- <ol>
                        <button class="btn btn-success" id="btnNuevo">
                            Nuevo <i class="fa fa-plus-circle"></i>
                        </button>
                    </ol> -->
                    <br>
                </div>
            </div>

            <!-- Cards -->
            <div class="row d-flex justify-content-center">

                <!-- <div class="col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 10px;">
                    <div class="card" style="width: 18rem;">
                        <img
                            src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div>
                                        <button class="btn btn-info">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div>
                                        <button class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="image-project card-image">
                    <div class="wrapper">
                        <img class="card" src="https://firebasestorage.googleapis.com/v0/b/prueba-sotorage.appspot.com/o/Fotos_Proyecto%2F1851e8d99dab465ea85c89b4fc90cb1b.jpg?alt=media&token=8ee31eff-38c5-4bc5-9e9e-6cc488ac7b8f">
                        <div class="data">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- inicio de puebas -->
                <div class="image-project card-image">
                    <div class="wrapper">
                        <img style="height: 300px; width: 500px"
                            src="https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80">
                        <div class="data">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="image-project card-image">
                    <div class="wrapper">
                        <img style="height: 300px; width: 500px"
                            src="https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80">
                        <div class="data">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="image-project card-image">
                    <div class="wrapper">
                        <img style="height: 300px; width: 500px"
                            src="https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80">
                        <div class="data">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="image-project card-image">
                    <div class="wrapper">
                        <img style="height: 300px; width: 500px"
                            src="https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80">
                        <div class="data">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- fin de puebas -->
            </div>
        </div>
    </div>
</div>