@{
ViewData["Title"] = "Perfil";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-part-profile">
    <div class="card shadow">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Mis Datos</h6>
        </div>
        <div class="card-body">

            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <img id="imgFoto"
                                    class="rounded mx-auto d-block" style="width: 170px; height: 190px;">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtNombre">Nombre</label>
                                <input type="text" class="form-control form-control-sm" disabled id="txtNombre">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtUsername">Username</label>
                                <input type="text" class="form-control form-control-sm" id="txtUsername">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txPassword">Contraseña</label>
                                <input type="password" class="form-control form-control-sm" id="txPassword">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtRol">Rol</label>
                                <input type="text" class="form-control form-control-sm" disabled id="txtRol">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-success btn-sm btn-block" id="btnGuardarCambios">Guardar
                                    Cambios</button>
                            </div>
                        </div>
                    </div>
                    </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    
    <!-- SCRIPT CON LAS FUNCIONES: PUT, GET -->
    <script src="~/js/vistas/Index_Home.js"></script>
}