<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Q+R - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link href="/src/assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img style="height:200px ;" src="assets/img/Q+R ICONO.png"
          class="rounded mx-auto d-block" />
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" class="active">Acerca de</a></li>
            <li><a href="/#services">Servicios</a></li>
            <li><a href="/#projects">Proyectos</a></li>
            <li><a href="/#team">Equipo</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Acerca de</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Acerca de</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(https://scontent.fcjs3-1.fna.fbcdn.net/v/t39.30808-6/310592883_783579129715191_3739697786938111660_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEAZut7YDnoCirRPgAnh5vx73UPh8FFhdjvdQ-HwUWF2KHfaslvKXc8yzqOjNccaE-HFZ3y37EOUxJYj1_j_arR&_nc_ohc=x5YNQiOIYoAAX_fjJ9o&_nc_ht=scontent.fcjs3-1.fna&oh=00_AfDzfx-pC1ruqAfw9zirar9N65y2XxcjMBUwkY8agAsFlQ&oe=640B1858);"></div>

          <div class="col-lg-7">
            <div class="our-story">
              <h4>Est 1988</h4>
              <h3>Nuestra Historia</h3>
              <p>Aqui pondremos una breve historia de como se creo la empresa</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Mision: </span></li>
                <li><i class="bi bi-check-circle"></i> <span>Vision:</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Valores:</span></li>
              </ul>
              <p>Agradecimientos</p>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=fLQQ9STiCYc" class="glightbox stretched-link">Ver Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clientes Satisfechos</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Proyectos</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Horas de Atención</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Trabajadores</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

  </main><!-- End #main -->

  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <img style="height:57px ;" src="assets/img/Q+R ICONO.png"/>
              <p>
                Calle 3 D 322, Nora Quintana<br>
                97238 Mérida, Yuc. <br><br>
                <strong>Celular:</strong> +52 999 501 3024<br>
                <strong>Email:</strong> qmasr@hotmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Enlaces</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Terminos</a></li>
              <li><a href="#">Politicas</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><a href="#">Diseño</a></li>
              <li><a href="#">Contrucción</a></li>
              <li><a href="#">Albanileria</a></li>
              <li><a href="#">Carpinteria</a></li>
              <li><a href="#">Interiores</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Enlaces</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Terminos</a></li>
              <li><a href="#">Politicas</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><a href="#">Diseño</a></li>
              <li><a href="#">Contrucción</a></li>
              <li><a href="#">Albanileria</a></li>
              <li><a href="#">Carpinteria</a></li>
              <li><a href="login">Iniciar sesión</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Q+R</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="#">Utm</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
